<div>
  <div>
    <header>
      <nav class="navbar">
        <!-- <div class="logo">
          <img src="../../images/todo_logo.jpg" alt="Todo App Logo">
        </div> -->

        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">☰</label>

        <ul class="nav-links">
          <li><a href="#" class="active">Profile</a></li>
          <li><a (click)="goToAddTodo()">Add New Todo</a></li>
          <li><a>Logout</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <!-- <div>
    <button (click)="goToAddTodo()">Add a New Todo</button>
  </div> -->
  <table>
    <tr>
      <th>User Id</th>
      <th>ID</th>
      <th>Title</th>
      <th>Completed</th>
      <th>Details</th>
    </tr>
    <tr *ngFor="let todo of todos">
      <td>{{todo.userId}}</td>
      <td>{{todo.id}}</td>
      <td>{{todo.title}}</td>
      <td>{{todo.completed}}</td>
      <td><button (click)="navigateToViewTodo(todo.id)">Details</button></td>
    </tr>
  </table>
</div>
