.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0c3e9a;
  padding: 15px 30px;
  color: white;
  position: relative;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
}

.logo img {
  height: 40px;
  width: 2em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ff9800;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 1.8em;
  cursor: pointer;
  user-select: none;
}

.todo-table h2 {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 15px;
}

table {
  width: 80%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

thead {
  background-color: #4caf50;
  color: white;
}

thead th {
  padding: 12px;
  text-align: left;
  color: white;
}

tbody tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s;
  padding-left: 8%;
}

tbody tr:nth-child(even) {
  background-color: #f7f9fc;
}

tbody tr:hover {
  background-color: #e8f5e9;
}

tbody td {
  padding: 8%;
  color: white;
  /* padding-left: 8%; */
}

tbody button {
  padding: 6px 10px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  background-color: #e53935;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

tbody button:hover {
  background-color: #d32f2f;
}

td {
  padding-left: 8%;
}

button {
  padding: 12px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Responsive */
@media (max-width: 600px) {

  button,
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tbody tr {
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
  }

  tbody td {
    padding: 10px;
    position: relative;
    text-align: right;
  }

  tbody td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: 50%;
    text-align: left;
    font-weight: bold;
    color: #555;
  }
}
